/* === Headings ===*/
h1 {
    font-family: 'PT Sans Narrow', cursive;
    color: #000;
    font-size: 60px;
    text-align:left;
    font-weight:normal;
    padding: 10px 0 0;
    text-transform: uppercase;
}

h1 span {
    background: none repeat scroll 0 0 #74767A;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    float: right;
    font-family: 'PT Sans Narrow', cursive;
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0 0;
    padding: 0 5px;
    margin-right: 0;
}

h2 {
    padding-top: 0px;
    text-align: left;
    color: #1b579e;
    font-size: 30px;
    width: 390px;
    font-family: 'PT Sans Narrow', cursive;
    font-weight:bold;
    border-bottom: 3px solid #bebebe;
    border-style:dotted;
}

h3 {
    font-weight:normal;
    font-family: 'PT Sans Narrow', cursive;
    text-align: right;
    color:#000;
    font-size: 24px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    text-align: left;
    text-transform: uppercase;
}

h4 {
    color: #000000;
    font-family: 'PT Sans Narrow',cursive;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}


/* === General CSS ===*/
body {
    font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
    background-image: url(../images/darkdenim3.png);
    background-repeat:repeat;
    color: #333;
    font-size: 11px;
    height: auto;
    padding: 20px 0;
    background-attachment:fixed;
}

#container {
    background-color: #fff;
    background-image: url(../images/groovepaper.png);
    width: 920px;
    margin: 0 auto;
    padding: 0px 20px 10px 20px;
}

.box_left {
    float: left;
    width: 400px;
    padding: 0px 10px;
    margin: 15px 0px;
}

.box_right {
    float: right;
    width: 400px;
    padding: 0px 10px;
    margin: 15px 0px;
    padding-left: 80px;
    background: url("../images/vertical_line.png") top left repeat-y;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

.spacer {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
}

.horizontal_line {
    background-image: url("../images/horizontal_line.png");
    background-repeat: repeat-x;
    height: 30px;
    width: 870px;
}

a, a:hover, a:link, a:visited {
    color:#737475;
    text-decoration: none;
}

p {
    padding: 10px 0;
    color: #737475;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    text-align: left;
    font-weight: normal;
}

.hide {
    display: none;
}

abbr[title], acronym[title] {
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}


/* === Header ===*/
#header{
    background-image: url(../images/resume.png);
    width: 990px;
    height: 87px;
    margin: auto;
    position: relative;
}

#header span#header_title {
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    position: absolute;
    top: 25px;
    left: 100px;
    width: 120px;
    text-align: center;
    font-family: 'PT Sans Narrow',cursive;
    letter-spacing: 2px;
}

.social_panel {
    float: right;
    padding: 34px 40px 0 0;
}

.social_panel li {
    float: left;
    margin-left: 10px;
    list-style: none;
}

.social_panel ul {
    list-style: none;
}

.social_panel li.last{
    margin:0;
}


/*=== Name ===*/
#name {
    background-repeat: no-repeat;
    background-position: right top;
}

#name h1{
    font-family: 'PT Sans Narrow', cursive;
    color: #022E63;
    font-size: 55px;
    text-align: left;
    font-weight: bold;
    text-transform: none;
    margin-top: 50px;
}

#name h2{
    color: #74767A;
    font-family: 'PT Sans',sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.0em;
    list-style-type: none;
    text-align: center;
    border: none;
    text-transform: uppercase;
}


/*=== Informations ===*/
#informations h2{
    border-bottom: 2px solid #1B579E;
    color: #1B579E;
    font-family: 'PT Sans Narrow',cursive;
    font-size: 18px;
    margin: 0px 30px 0px 0px;
    text-align: left;
    width: 390px;
}
#informations h3{
    color: #000000;
    font-family: 'PT Sans Narrow',cursive;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-weight: bold;
    text-transform: none;
}
#informations ul{
    font-family: 'PT Sans Narrow', sans-serif;
    line-height:  1.5em;
    color: #74767a;
    font-size: 18px;
    text-align:left;
    list-style-type: none;
}
#informations li{
    border-bottom: 1px solid #d7d7d7;
    width: 390px;
}


/*=== Presentation ===*/
#presentation{
    color: #1b579e;
    font-size: 30px;
    font-family: 'PT Sans Narrow', cursive;
    font-weight:bold;
}

#presentation img.left {
    margin: 10px 10px 5px 0;
    background-color: #FFFFFF;
    border: 1px solid #CFD0CB;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 6px 6px -5px #727274;
    float: left;
    height: 160px;
    padding: 4px;
    width: 150px;
}


/*=== Skills ===*/
#skills h2{
    margin-bottom: 10px;
}

ul#skill_list{
    list-style-type: none;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align:left;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: bold;
    float: left;
}

ul#skill_set {
    float: left;
    list-style-type: none;
    margin-top: 7px;
}

#skills #technical_skill{
    height: 240px;
    margin: 15px 0 0;
}

#skills .progress_container{
    padding:1px;
    height:15px;
    overflow:hidden;
    background-color:#ccc;
    margin: 0 0 10px 30px;
    width: 270px;
}

#skills .progress_bar{
    height:22px;
    width:0px;
    background-color:#1b579e;
}

#skills .ezpublish {
    width: 95%;
}

#skills .lamp {
    width: 90%;
}

#skills .magento {
    width: 25%;
}

#skills .solr {
    width: 45%;
}

#skills .symfony {
    width: 55%;
}

#skills .varnish {
    width: 60%;
}

#skills .wordpress {
    width: 65%;
}


/*=== Formation  ===*/
#formation .item h3 span,
#experience .item h3 span{
    background: none repeat scroll 0 0 #74767A;
    border-radius: 3px 3px 3px 3px;
    color: #ffffff;
    float: right;
    font-family: 'PT Sans Narrow', cursive;
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0 0;
    padding: 0 5px;
    margin-right: 0; 
}

/*=== Certifications  ===*/
#certifications ul li {
    font-weight: normal;
    font-size: 18px;
    color: black;
    line-height: 36px;
}

#certifications ul li span{
    font-size: 14px;
}

/*=== Qualities  ===*/
#qualities ul,
#certifications ul{
    color: #737475;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    text-align: left;
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 10px;
}

/*=== Down-Top  ===*/
.nav_up{
    padding:7px;
    border:1px solid #CCC;
    position:fixed;
    background:url("../images/arrow_up.png") no-repeat scroll 50% 50% #CCCCCC;
    width:20px;
    height:20px;
    bottom:10px;
    opacity:0.7;
    right:30px;
    white-space:nowrap;
    cursor: pointer;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -khtml-border-top-left-radius:3px;
    -khtml-border-top-right-radius:3px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.nav_down{
    padding:7px;
    background-color:white;
    border:1px solid #CCC;
    position:fixed;
    background:url("../images/arrow_down.png") no-repeat scroll 50% 50% #CCCCCC;
    width:20px;
    height:20px;
    bottom:10px;
    opacity:0.7;
    right:70px;
    white-space:nowrap;
    cursor: pointer;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -khtml-border-top-left-radius:3px;
    -khtml-border-top-right-radius:3px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
